root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
ij_continuation_indent_size = 8

[*.{json,md,yaml}]
indent_size = 2

[*.properties]
ij_properties_keep_blank_lines = true
